<div class="row">
  <div class="col-lg-8">
    <% @boards.each do |board| %>
      <div class="box mb-3">
        <%= render "show", board: board %>
      </div>
    <% end %>
  </div>
  <div class="col-lg-4">
    <%= render "public/members/info" %>
    <%= render "all_tag", tags: @tags %>
  </div>
</div>