
<%= form_with url: search_path, method: :get do |f| %>
<div class="searchBox">
    <%= f.text_field:word, class: "searchInput" %>
    <%= f.button :type => "submit", class: "searchButton" do %>
      <i class="fas fa-search"></i>
    <% end %>
</div>
<% end %>
