<%= form_with url: search_path, method: :get do |f| %>
  <div class="search">
      <%= f.text_field:word, class: "searchTerm", type: "text", placeholder: "キーワードを入力" %>
      <%= f.button :type => "submit", class: "searchButton" do %>
        <i class="fas fa-search"></i>
      <% end %>
  </div>
<% end %>