<div class="text-center mb-3">
  <%= image_tag "about.png" %>
</div>

<div id="carouselExampleFade" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="carousel-caption">
          <h5>あなたはニャンコ村のねこちゃんです。</h5>
          <h5>最近、この村には全く笑いが起こりません。</h5>
          <h5>そこで、あなたはニャンコ村へ笑いを取り戻すため大喜利修行の旅に出ます....。</h5>
        </div>
      </svg>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="carousel-caption slide2">
          <h3 class="mb-5 heading">投稿・お買い物</h3>
          <p class="text-left"><i class="fas fa-caret-right"></i>　会員登録をするとお題や答えを投稿できます。画像で投稿することもできます。</p>
          <p class="text-left"><i class="fas fa-caret-right"></i>　投稿すると、経験値とマネーを獲得します。</p>
          <p class="text-left"><i class="fas fa-caret-right"></i>　マネーでアイテムを購入すると、経験値を獲得できます。</p>
          <p class="text-left"><i class="fas fa-caret-right"></i>　経験値をためて、レベルアップしていきましょう！</p>
        </div>
      </svg>
    </div>
    <div class="carousel-item">
      <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="carousel-caption slide2">
          <h3 class="mb-5 heading">フォロー・スタンプ</h3>
          <p class="text-left"><i class="fas fa-caret-right"></i>　あなたが面白い！と思った、他のねこちゃんをフォローすることができます。</p>
          <p class="text-left"><i class="fas fa-caret-right"></i>　面白い！と思った答えには　<i class="fas fa-paw"></i>　スタンプを押してください。</p>
          <p class="text-left"><i class="fas fa-caret-right"></i>　あんまり面白くない..と思った答えには　<i class="fas fa-poo"></i>　スタンプを押してください。</p>
          <p class="text-left"><i class="fas fa-caret-right"></i>　みんなで大喜利力を磨いていきましょう！</p>
        </div>
      </svg>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="button004 mt-5">
  <%= link_to boards_path do %>
    冒険へ出る<i class="fas fa-caret-right"></i>
  <% end %>
</div>