<div class="top-logo"></div>

<div class="text-center">
  <div class="button05 button-login mb-2">
    <%= link_to 'ログイン', new_member_session_path %>
  </div>

  <div class="button05 mb-2">
    <%= link_to '新規登録（無料）', new_member_registration_path %>
  </div>

  <div class="button05 button-guest mb-2">
    <%= link_to 'ゲスト（閲覧のみ）', public_guest_sign_in_path, method: :post %>
  </div>
</div>