<div class="row">
  <div class="mx-auto">
    <ul class="nav mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active btn btn-outline-light btn-lg" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">フォロー中</a>
      </li>
      <li class="nav-item px-1">
        <a class="nav-link btn btn-outline-light btn-lg" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">フォロワー</a>
      </li>
    </ul>
  </div>
</div>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <% if @follower_members.any? %>
      <%= render "public/members/index", members: @follower_members %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @follower_members, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    <% else %>
      フォロワーはいません
    <% end %>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <% if @following_members.any? %>
      <%= render "public/members/index", members: @following_members %>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @following_members, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    <% else %>
      フォロー中のねこちゃんはいません
    <% end %>
  </div>
</div>