<div class="text-center mb-3">
  <div class="btn-group" role="group">
    <%= link_to "投稿数", member_member_boards_path(sort: "popular"), class: "btn btn-outline-light btn-lg" %>
    <%= link_to "最新", member_member_boards_path(sort: 'created_at DESC'), class: "btn btn-outline-light btn-lg" %>
  </div>
</div>
<% @boards.each do |board| %>
  <div class="box mb-3">
    <%= render "public/boards/show", board: board %>
  </div>
<% end %>

<div class="row">
  <div class="mx-auto">
    <%= paginate @boards, theme: 'twitter-bootstrap-4' %>
  </div>
</div>