<%= form_with model:@genre, url: admin_genre_path(@genre), method: :patch do |f| %>
  <div class="field form-group">
    <%= f.label :ジャンル名, class:"mr-5" %>
    <%= f.text_field :name, placeholder: "ジャンル名", class:"genre-form" %>
  </div>
  <%= f.submit "更新", class:"btn btn-success btn-lg px-4 ml-5" %>
<% end %>