<div class="text-center mb-3">
  <h3 class="page-title">お題詳細</h3>
</div>

<div class="box mb-3">
 <%= render "admin/boards/show", board: @board %>
</div>

<div class="text-center">
  <%= link_to "削除する", admin_board_path(@board), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
</div>