<div class="box mb-3">
 <%= render "admin/boards/show", board: @board %>
</div>

<%= link_to "削除する", admin_board_path(@board), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>