
// @import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.link {
  color: white ;
}

.link:hover {
  text-decoration: none;
  color: rgb(204, 254, 96);
}

.min-vh-100 {
  background-color: black;
  color: #fff;
}

header {
  border-bottom: 3px solid #fff;
  padding: 15px 0;
  background-color: #000;
}

.navbar-toggler{
  border-color: #fff;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

ul {
  list-style-type: none;
}

.top-logo {
  width: 600px;
  height: 500px;
  background-image: image-url("logo.png");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.slide {
  border: 3px solid #fff;
}

.carousel-item {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 30%;
}

.slide2 {
  position: absolute;
  top: 10%;
}

.box {
  background-color: hsla(0, 0%, 24%, 0.588);
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 20px;
}

.information {
  font-size: 12px;
}

.favorite {
  color: rgb(254, 170, 234);
  font-size: 18px;
}

.unfavorite {
  color: rgb(219, 242, 255);
  font-size: 18px;
}

.unlike {
  color: rgb(255, 208, 165);
  font-size: 18px;
}

.reverse_unlike {
  color: #fff;
  font-size: 18px;
}

.attention {
  background-color: rgb(254, 86, 128);
  font-size: 13px;
  padding: 2px 4px;
}

.shop {
  position: relative;
}

.my-money {
  position: absolute;
  top: 10px;
  right: 10px;
}

footer {
  background-color: black;
  border-top: 5px solid #fff;
  color: #fff;
  padding: 15px 0;
}




// ボタン

.button05 a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #6bb6ff;
  border-radius: 8px;
  border-bottom: solid 5px #1d7fde;
}

.button05 a:hover {
  border-bottom: solid 2px #1d7fde;
  transform: translateY(3px);
  text-decoration: none;
  color: #fff;
}

.button-login a {
  background-color: rgb(81, 182, 101);
  border-bottom: solid 5px rgb(63, 140, 78);
}

.button-login a:hover {
  border-bottom: solid 2px rgb(63, 140, 78);
}

.button-guest a {
  background-color: rgb(239, 190, 82);
  border-bottom: solid 5px rgb(208, 165, 73);
}

.button-guest a:hover {
  border-bottom: solid 2px rgb(208, 165, 73);
}

// アバウト見出し

.heading {
  position: relative;
  padding-left: 25px;
}

.heading:before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #fff;
}
.heading:after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #fff;
}


/* 004 */
.button004 a {
    background: #eee;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 260px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.button004 a:hover {
    background: #313131;
    color: #FFF;
    text-decoration: none;
}

.blink {
	animation: blinking 1s ease-in-out infinite alternate;
	color: rgb(240, 115, 199);
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.gnavi .gnavi-li a{
    /*線の基点とするためrelativeを指定*/
	position: relative;
}

.gnavi .gnavi-li a:hover{
	color:#fff;
}


.gnavi .gnavi-li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 1px;
  background:#fff;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi .gnavi-li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.pagination {
  border: 1px solid #fff;
}

.pagination>li>a {
  border: none;
  color: #000 !important;
}

.pagination>.active>a {
  background: #000 !important;
  color: #fff !important
}

.pagination>li>a:hover {
  background-color: #000 !important;
  color: #fff !important;
}



@media screen and (max-width:576px) {
  .top-logo {
    width: 310px;
    height: 250px;
    background-image: image-url("logo.png");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }
}



