body {
  font-family: sans-serif;
  color: #fff;
  overflow-x: hidden;
  .min-vh-100 {
    background-color: black;
    color: #fff;
  }
  ul {
    list-style-type: none;
  }
  #back {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  .link {
    color: white ;
    &:hover {
      text-decoration: none;
      color: #17a2b8;
    }
  }
  .heading {
    position: relative;
    padding-left: 25px;
    &:before {
      position: absolute;
      content: '';
      bottom: -5px;
      left: 0;
      width: 0;
      height: 0;
      border: none;
      border-left: solid 15px transparent;
      border-bottom: solid 15px #fff;
    }
    &:after {
      position: absolute;
      content: '';
      bottom: -5px;
      left: 10px;
      width: 100%;
      border-bottom: solid 3px #fff;
    }
  }
  .box {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 20px;
  }
  .box-levelup {
    border: 2px solid #17a2b8;
    border-radius: 20px;
    padding: 20px;
  }
  .box-error {
    border: 2px solid red;
    border-radius: 20px;
    padding: 20px;
  }
  .shrink {
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
      font-size: 15px;
    }
  }
  select {
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 3px 5px;
    background-color: #000;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

// Favorite & Unlike button
.favorite {
  color: #FF69A3;
  font-size: 18px;
}

.unfavorite {
  color: #fff;
  font-size: 18px;
}

.unlike {
  color: #FF8C00;
  font-size: 18px;
}

.reverse_unlike {
  color: #fff;
  font-size: 18px;
}

// Items#index
.shop {
  position: relative;
  .my-money {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 10px;
  }
}

.blink {
	animation: blinking 1s ease-in-out infinite alternate;
	color: rgb(240, 115, 199);
}

// about & about_before & board_new button
.button004 a {
  background: #eee;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 260px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  &:hover {
    background: #313131;
    color: #FFF;
    text-decoration: none;
  }
}

// notification-mark
.my-image {
  position: relative;
  .star {
    position: absolute;
    color: gold;
    font-size: 10px;
    top: 6px;
    right: 17px;
  }
}

.tag{
	display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 2em;
	font-size: 11px;
	&:hover {
	  background-color: #fff;
	  color: #000;
	  text-decoration: none;
	}
}

.no_link_tag {
	display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #000;
	background-color: #fff;
	border-radius: 2em;
	font-size: 11px;
}

.detail_tag {
	display: inline-block;
	margin: 0 .2em .6em 0;
	padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	border: 1px solid #fff;
	font-size: 12px;
}

// form 必須
.attention {
  background-color: rgb(254, 86, 128);
  font-size: 13px;
  padding: 2px 4px;
}

// file_field form
.image_input_btn{
  display: block;
  background-color: #000;
  border: 1px solid #fff;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #000;
    background-color: #fff;
  }
  .image-form {
    display: none;
  }
}

.pagination {
  border: 1px solid #fff;
  li a {
    border: none;
    color: #000 !important;
    &:hover {
      background-color: #000 !important;
      color: #fff !important;
    }
  }
  .active a {
    background: #000 !important;
    color: #fff !important
  }
}

@keyframes blinking {
	0% {opacity: 0;}
	100% {opacity: 1;}
}