// Homes#top
.top-logo {
  width: 600px;
  height: 500px;
  background-image: image-url("logo.png");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.click-message {
  animation: blinking 1s ease-in-out infinite alternate;
}

.accordion1 {
  text-align: center;
  display: inline-block;
  .inner {
    display: none;
    background: #000;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 20px;
    .top-btn {
      padding: 10px 0;
      a {
        color: #fff;
        &:hover {
          text-decoration: none;
          color: #fff;
          font-size: 15px;
        }
      }
    }
  }
  .ac1 {
    background: #000;
    border: 1px solid #fff;
  	border-radius: 50px;
  	padding: 10px 20px;
  }
}

// Homes#about_before
.type-display {
  height: 70vh;
  position: relative;
  .text-content {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translateY(-40%) translateX(-50%);
    margin: 0;
  }
}

.go-about {
  animation: blinking 1s ease-in-out infinite alternate;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
	padding: 10px 20px;
	&:hover {
	  background-color: #fff;
	  color: #000;
	  text-decoration: none;
	}
}

.slide {
  border: 3px solid #fff;
  .carousel-item {
    position: relative;
    .carousel-caption {
      position: absolute;
      top: 30%;
    }
    .slide2 {
      position: absolute;
      top: 10%;
    }
  }
}